body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    margin-bottom: 20px;
    border: none;
}

legend {
    font-weight: bold;
}



/* Adjusting the width and display for gender and date of birth labels */
label[for="gender"],
label[for="dob"] {
    display: inline-block;
    width: 70px; /* Adjust the width as needed */
    margin-bottom: 10px;
}

/* Adjusting the width and display for radio buttons and date input */
input[type="radio"],
input[type="date"] {
    width: auto; /* Adjust the width as needed */
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}

/* Styling radio buttons */
input[type="radio"] + label {
    display: inline;
    margin-right: 10px;
}

/* Handling margin-right for the last radio button in a row */
input[type="radio"]:nth-child(3n) + label {
    margin-right: 0;
}

/* Styling input fields */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styling submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Responsive styling for form */
@media screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}
