:root {
    --primary-color: #1B3C73;
    --primary-color-dark: #40679E;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.hospital-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
}
.hospital-card img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}
.hospital-info {
    flex-grow: 1;
}
.hospital-info h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}
.hospital-info p {
    margin: 5px 0;
    color: #666;
}
.button-container {
    text-align: right;
}
.button-container a {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button-container a:hover {
    background-color: var(--primary-color-dark);
}
.button-container {
    text-align: left;
    margin: 20px;
}