<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/doclogin.css">
    <link rel="stylesheet" href="/static/inde.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title> MEDIQUICK</title>
  </head>
  <body>
    <div class="container">
     
    <div class="log">
        <div class="form-box">
            <div class="btn-box">
              <h3>Login Here</h3>

            </div>
            <div class="icons">
            <img src="/static/img/fb.png">
            <img src="/static/img/insta.png">
            <img src="/static/img/goog.png">
</div>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
<form action="{% url 'doclogin' %}"method="post" name="form1" class="input" onsubmit="return validateForm()">
  {% csrf_token %}
    Email<input type="text" class="input-field" name="email"placeholder="Enter your doctoremail" >
   Password <input type="password" class="input-field" name="password" placeholder="Enter your Password" >
    <input type="checkbox" class="checkbox"><span>Remember Password </span>
    <button type="submit" class="submit-btn" name="Login">Login</button>
    <div class="container reg">
    <p>Haven't Registered Yet? <a href="/docreg">Register Here</a></p>
  </div>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
</form>

        </div>
        
</div>
</body>
</html>