<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/hosdetail.css">
    <title>Featured Hospitals</title>
</head>
<body>
    <h1>Book Appointment at hospital of your choice</h1>

    <div class="hospital-card">
        <img src="/static/img/bharatpurhosp.jpg" alt="Bharatpur Hospital">
        <div class="hospital-info">
            <h2>Bharatpur Hospital</h2>
            <p>Location: Bharatpur, Chitwan</p>
        </div>
        <div class="button-container">
            <a href="viewmore-hospital.html?hospital=bharatpur-Hospital">ViewMore</a>
        </div>
    </div>

    <div class="hospital-card">
        <img src="/static/img/B&B.jpg" alt="B&B">
        <div class="hospital-info">
            <h2>B&B hospital</h2>
            <p>Location: Pokhara, Nepal</p>
        </div>
        <div class="button-container">
            <a href="viewmore-hospital.html?hospital=B&B">ViewMore</a>
        </div>
    </div>

    <div class="hospital-card">
        <img src="/static/img/CMC.jpg" alt="Chitwan Medical Science(CMC)">
        <div class="hospital-info">
            <h2>Chitwan Medical Science(CMC)</h2>
            <p>Location: Madi, Chitwan</p>
        </div>
        <div class="button-container">
            <a href="viewmore-hospital.html?hospital=cmc">ViewMore</a>
        </div>
        
    </div>
    <div class="hospital-card">
        <img src="/static/img/CMC.jpg" alt="Chitwan Medical Science(CMC)">
        <div class="hospital-info">
            <h2>Chitwan Medical Science(CMC)</h2>
            <p>Location: Madi, Chitwan</p>
        </div>
        <div class="button-container">
            <a href="viewmore-hospital.html?hospital=cmc">ViewMore</a>
        </div>
        
    </div>

</body>
<div class="button-container">
        <button class="btn btn-primary center">Load More</button>
        </div>
</html>